.sidebar {
    height: 100vh;
    background-color: black;
    color: #fff;
    transition: width 0.3s;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
  }
  
  .sidebar.open {
    width: 15%;
  }
  
  .sidebar.closed {
    width: 5%;
  }
  
  .sidebar-header {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
  }
  
  .hamburger-icon {
    cursor: pointer;
    font-size: 24px;
  }
  
  .sidebar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar-menu li {
    padding: 10px;
    display: flex;
    align-items: center;
  }
  
  .sidebar-menu li a {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  
  .menu-icon {
    font-size: 20px;
  }
  
  .menu-text {
    margin-left: 10px;
    display: inline-block;
    transition: opacity 0.3s;
  }
  
  .sidebar.closed .menu-text {
    opacity: 0;
    pointer-events: none;
  }