.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  gap: 2rem;
  background-color: rgb(204, 224, 224);
  border-radius: 1rem;
  padding: 2rem;
 
}

input {
  width: 60%;
  height: 4rem;
  
}

.form-control{
  font-size: 2rem;
}
button{
  width: 100px;
  height: 4rem;
}
p{
  font-size: 1rem;
}

.table_center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.table_design{
  font-size: 2rem;
}

.modal_design{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
}
.modal_design input{
  margin: 1rem;
  border-radius: 0.5em;

}
.modal_design button{
  margin: 1rem auto;
  border-radius: 0.5em;
}
.heading{
  text-align: center;
  margin: 2rem;
}
.formModal{
  width: 100%;
}
.fontControl{
  font-size: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.add-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.add-subcontainer{
  /* margin: 2rem; */
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.add-subcontainer input{
  margin: 2rem;
  font-size: 2rem;
}
.addteam{
  display: flex;
  justify-content: end;
  width: 100%;
}